@font-face {
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./AlumniSans-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Alumni Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('./AlumniSans-Italic-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./Inter-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Pridi-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./Pridi-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./Pridi-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Pridi-Bold.woff2') format('woff2');
}
